# Ignore everything by default
/*

# Allow directories
!*/
# Allow key files at repo root
!dvc.yaml
!dvc.lock
!.dvc/
!.dvcignore
!requirements.txt
!requirements.ci.txt
!.github/
!README.md
!.gitignore

# Allow project trees
!data/
!scripts/
!tests/
!feature_repo/
!outputs/

# Local/generated noise
data/registry.db
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
.DS_Store
